@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

#imagen{
    margin: 40px auto 40px 146px;
}
h3{
    margin: 40px auto 40px auto;
}
nav{
    margin: auto auto 40px auto;
}

h1{
    font-family: 'Source Serif Pro';
}
h2{
    font-family: 'Source Serif Pro';
}
h3{
    font-family: 'Source Serif Pro';
}
h2{
    margin-top: 50px;
    margin-bottom: 40px;
}
#li3{
    margin-bottom: 60px;
}
#lifinal{
    margin-bottom: 50px;
}
footer{
    margin-top: 20px;
}